@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto+Mono:wght@200&display=swap');




.primer_paso{
    padding-top: 2%;
    display: flex;
    margin-top: 25%;
    justify-content: center;
    border-radius: 10px;
}

.primer_paso .Seleccione_una_tienda h2{
    margin-top: 0;
}

.crear_info {
    width: 50%;
    padding: 0 50px;
    text-align: justify;
    margin-bottom: 20px;
   
}


.ingresa{
    width: 50%;
    justify-content: center;
    padding: 0 50px;
    text-align: justify;
    margin-bottom: 20px;
}



.ingresa a{
    
    margin-top: 50px !important;

}
.Seleccione_una_tienda{
    
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 -20px 30px -20px;
     
}
.Seleccione_una_tienda h2{
    
    margin-top: 20%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;


}   


.info p{
    
    margin-top: 40px;
    text-align: center;
    text-align: justify;
    margin: 40px 250px 0px 250px;
}



.tiendas{
    margin: auto;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.tiendas .item {
    position: relative;
    
}
.tiendas .item .face{
    width: 300px;
    height: 200px;
    transition: .4s;

}
.tiendas .item .face.face1{
    position: relative;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 5%;
}
.tiendas .item:hover .face.face1{
    transform: translateY(0);
    box-shadow:
    inset 0 0 60px #023047,
    inset 20px 0 80px #547280,
    inset -20px 0 80px #547280,
    inset 20px 0 300px #547280,
    inset -20px 0 300px #547280,
    0 0 50px #fff,
    -10px 0 80px #547280,
    10px 0 80px #547280;
}
.tiendas .item .face.face1 .content{
    transition:  0.5s;
    text-align: center ;
    
}

.tiendas .item:hover .face.face1 .content{
    opacity: 1;
}

.tiendas .item .face.face1 .content a{
    transition: .5s;
}

.tiendas .item .face.face2{
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
    border-radius: 5%;

}
.tiendas .item:hover  .face.face2{
    transform: translateY(0);
}

.tiendas .item .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0;
    padding: 0 ;
    color:#023047;
    font-weight: bold !important;
}

.tiendas .items .face.face2 .content a{
    text-decoration:none;
    color: #FB8500;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

.tiendas .items .face.face2 .content a:hover{
    background: #FB8500 ;
    color: #FB8500; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.item img{
    align-items: center;
    padding: 30px;  
    max-height: 200px;
    max-width: 200px;
    
}

#exito{
    max-height: 200px;
    max-width: 150px;
}
#jumbo{
    max-height: 200px;
    max-width: 160px;
    margin-bottom: -3%;
}

.primer_paso a{

    color:#547280;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-decoration: none;

}

.primer_paso a:hover{
    
    opacity: 0.4;
}



